@using GetSit.Data.ViewModels
@using GetSit.Data.enums
@model LoginVM
@{
    Layout = "~/Views/Shared/_Layouts/AuthLayout.cshtml";
}

<div class="col">
    <div class="box-header">
        <h2>Login</h2>
        <div class="mt-3">Login for free to access any of our services </div>
        <div class="mt-3">Are you a Co-Working space manager? <a asp-action="Index" asp-controller="JoinRequest"> Join Us now </a></div>

    </div>
    <form asp-action="Login" class="form">
        <div class="row">
            <div class="form-outline mb-2">
                <label class="form-label" asp-for="@Model.Email"></label>
                <input type="email" asp-for="@Model.Email" class="form-control form-control-lg" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-outline mb-4">
                <div>
                    <label class="form-label" asp-for="@Model.Password"></label>
                    <div class="password-show">
                        <span class="fa fa-fw fa-eye show-icon"></span>
                        <span class="show-text">Show</span>
                    </div>
                </div>
                <input type="password" asp-for="@Model.Password" class="form-control form-control-lg" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                <a asp-action="Index" asp-controller="ForgetPassword">Forget password?</a>
            </div>
        </div>
        <div class="row">
            <div class="form-outline mb-2">
                <div class="mb-3">Which account services is yours?</div>
                <div class="user-roles">
                    <div>
                        <input type="radio" asp-for="@Model.Role" value="@UserRole.Customer">
                        <label asp-for="@Model.Role">@UserRole.Customer</label>
                    </div>
                    <div>
                        <input type="radio" asp-for="@Model.Role" value="@UserRole.Admin">
                        <label asp-for="@Model.Role" class="mr-4">@UserRole.Admin</label>
                    </div>
                    <div>
                        <input type="radio" asp-for="@Model.Role" value="@UserRole.Provider">
                        <label asp-for="@Model.Role">@UserRole.Provider</label>
                    </div>
                </div>
                <span asp-validation-for="@Model.Role" class="text-danger"></span>
            </div>

        </div>
        <div class="row">
            <div class="form-outline">
                <input class="purple-btn float-right" type="submit" value="Login">
                <div>Don't have an account? <a asp-action="Register">Register</a></div>
            </div>
        </div>
    </form>
</div>
@section scripts {
    <script>
        $(".password-show").click(function () {

            $(".show-icon").toggleClass("fa-eye fa-eye-slash");
            var text = $(".show-text")[0];
            if (text.innerHTML === "Show")
                text.innerHTML = "Hide";
            else text.innerHTML = "Show";

            var input = $("#Password");
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

    </script>
}