@using GetSit.Data.ViewModels
@using GetSit.Data.enums

@model ForgetPasswordVM

@{
    Layout = "~/Views/Shared/_Layouts/AuthLayout.cshtml";
}
<div class="col">
    <div class="box-header">
        <h2>Add new Password</h2>
        <div class="mt-3">Add new password and get access to your account @Model.Email .</div>
    </div>
    <form asp-action="AddNewPassword" class="form">
        <input hidden asp-for="@Model.Email" />
        <input hidden asp-for="@Model.Role" />
        <div class="row">
            <div class="form-outline mb-4">
                <div>
                    <label class="form-label" asp-for="@Model.Password">New password</label>
                    <div class="password-show">
                        <span class="fa fa-fw fa-eye show-icon"></span>
                        <span class="show-text">Show</span>
                    </div>
                </div>
                <input type="password" asp-for="@Model.Password" class="form-control form-control-lg" required/>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-outline mb-4">
                <label class="form-label">Confirme new password</label>
                <input type="password" id="ConfirmPassword" class="form-control form-control-lg" required />
                <span id="passwordError" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-outline">
                <input class="purple-btn float-right" type="submit" value="Save & Login">
            </div>
        </div>
    </form>
    <div class="dots-navigation">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot dot-active"></span>
    </div>
</div>
@section scripts {
    <script>
        $(".password-show").click(function () {

            $(".show-icon").toggleClass("fa-eye fa-eye-slash");
            var text = $(".show-text")[0];
            if (text.innerHTML === "Show")
                text.innerHTML = "Hide";
            else text.innerHTML = "Show";

            var input = $("#Password");
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
        $(document).ready(function () {
            $('form').submit(function (e) {
                var password = $('#Password').val();
                var confirmPassword = $('#ConfirmPassword').val();
                var errorElement = $('#passwordError');

                if (password !== confirmPassword) {
                    errorElement.text("Passwords don't match.");
                    e.preventDefault(); // Prevent form submission if passwords don't match
                } else {
                    errorElement.text("");
                }
            });
        });

    </script>
}